.login-main {
  border: 1px solid black;
  /* max-height: 680px; */
}

.login-container {
  /* max-height: 100%; */
  display: flex;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-preview {
  border: 1px solid green;
  position: relative;
  max-height: 500px;
}

.login-preview img {
  max-height: 500px;
}

.login-preview #demo-img {
  position: absolute;
  top: 26px;
  left: 156px;
}

.login-preview #demo-img img {
  max-height: 500px;
}
